<head>
    <title>Meeting invitation</title>
</head>

<body><center>

<h1>[<MEETING>]</h1>

<h2><MSG></h2>


<h2><a href="<URL>">Meeting Link</a></h2>

<p>You where invited from <SENDER></p>
<p>This e-mail was created with bbbadmin</p>

</center>
</body>
</html>
