<head>
    <title>Meeting invitation</title>
</head>

<body><center>

<h1>[<MEETING>]</h1>

<h2><MSG></h2>


<h2><a href="<URL>">Meeting Link</a></h2>

<p>You where invited from <a href="mailto:<SENDER>?subject=Meeting [<MEETING>]"><SENDER></a></p>
<p>This e-mail was created with <a href="https://github.com/unattended-ch/bbbadmin">bbbadmin</a> </p>

</center>
</body>
</html>
